<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd
                           http://www.springframework.org/schema/tx
                           http://www.springframework.org/schema/tx/spring-tx.xsd
                           ">

    <context:component-scan base-package="pl.edu.amu.dji.jms.lab4.*"/>
    <tx:annotation-driven/>


    <bean id="connectionFactory" class="org.apache.activemq.pool.PooledConnectionFactory" destroy-method="stop">
        <property name="connectionFactory">
            <bean class="org.apache.activemq.ActiveMQConnectionFactory">
                <property name="brokerURL" value="tcp://localhost:61616"/>
            </bean>
        </property>
    </bean>

    <bean id="transactionManager" class="org.springframework.jms.connection.JmsTransactionManager">
        <property name="connectionFactory" ref="connectionFactory"/>
    </bean>


    <bean id="reportingJmsTemplate" class="org.springframework.jms.core.JmsTemplate">
        <property name="connectionFactory" ref="connectionFactory"/>
        <property name="defaultDestination" ref="reportingTopic"/>
        <property name="messageConverter" ref="reportConverter"/>
        <property name="sessionTransacted" value="true"/>
    </bean>
    
    <bean id="addPointOfSaleJmsTemplate" class="org.springframework.jms.core.JmsTemplate">
        <property name="connectionFactory" ref="connectionFactory"/>
        <property name="defaultDestination" ref="addPointOfSaleQueue"/>
        <property name="messageConverter" ref="addPointOfSaleConverter"/>
        <property name="sessionTransacted" value="true"/>
    </bean>
	
    <bean id="addPointOfSaleQueue" class="org.apache.activemq.command.ActiveMQQueue">
        <constructor-arg value="addPointOfSaleQueue"/>
    </bean>

    <bean id="priceChangeTopic" class="org.apache.activemq.command.ActiveMQTopic">
        <constructor-arg value="priceChangeTopic"/>
    </bean>
    
    <bean id="fullProductListTopic" class="org.apache.activemq.command.ActiveMQTopic">
        <constructor-arg value="fullProductListTopic"/>
    </bean>
    
    <bean id="reportingTopic" class="org.apache.activemq.command.ActiveMQTopic">
        <constructor-arg value="reportingTopic"/>
    </bean>

    <bean id="fullProductListServiceAdapter" class="org.springframework.jms.listener.adapter.MessageListenerAdapter">
        <property name="delegate" ref="fullProductListService"/>
        <property name="defaultListenerMethod" value="fullProductList"/>
        <property name="messageConverter" ref="fullProductListConverter"/>
    </bean>
    
    <bean id="priceChangeServiceAdapter" class="org.springframework.jms.listener.adapter.MessageListenerAdapter">
        <property name="delegate" ref="priceChangeService"/>
        <property name="defaultListenerMethod" value="priceChange"/>
        <property name="messageConverter" ref="priceChangeConverter"/>
    </bean>

    <bean id="priceChangeListenerContainer" class="org.springframework.jms.listener.DefaultMessageListenerContainer">
        <property name="messageListener" ref="priceChangeServiceAdapter"/>
        <property name="connectionFactory" ref="connectionFactory"/>
        <property name="destination" ref="priceChangeTopic"/>
        <property name="sessionTransacted" value="true"/>
        <property name="transactionManager" ref="transactionManager"/>
    </bean>
    
    <bean id="fullProductListListenerContainer" class="org.springframework.jms.listener.DefaultMessageListenerContainer">
        <property name="messageListener" ref="fullProductListServiceAdapter"/>
        <property name="connectionFactory" ref="connectionFactory"/>
        <property name="destination" ref="fullProductListTopic"/>
        <property name="sessionTransacted" value="true"/>
        <property name="transactionManager" ref="transactionManager"/>
    </bean>
    
</beans>